.keen-slider {
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  
  [class^="number-slide"],
  [class*=" number-slide"] {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    height: 31rem;
    width: 100%;
    max-height: 100vh;
  }
  
  .number-slide1 {
    background-image: url(src/assets/img/banner1.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .number-slide2 {
    background-image: url(src/assets/img/banner2.jpg);
    background-size: cover;
    background-position: center;

  }
  
  .number-slide3 {
   
    background-image: url(src/assets/img/banner3.jpg);
    background-size: cover;
    background-position: center top;

  }
  
  .number-slide4 {
    background-image: url(src/assets/img/banner4.jpg);
    background-size: cover;
  }
  
  .number-slide5 {
    background-image: url(src/assets/img/banner5.jpg);
    background-size: cover;
    background-position: center bottom;

  }
  .number-slide6 {
    background-image: url(src/assets/img/bannerimg.jpg);
    background-size: cover;
  }
  
  @media (max-width: 768px) {
    .keen-slider__slide{
      height: 20rem;
    }
  }

  