<section>
    <div class="row">
        <h1 class="title">Menu</h1>
        <article class="col-lg-4 art-1"  *ngFor="let menu of menus">
            <figure class="foodbox mb-3">
                <!-- <a [routerLink]="['/menu',menu.id]" style="margin-bottom: 4rem;"> -->
                <div class="card">
                    <div class="card-img">
                        <div class="img">

                        </div>
                    </div>
                    <img [src]="menu.imageUrl" class="card-img" [alt]="menu.title" width="17rem" height="15rem">
                    <div class="card-title">{{menu.title}}</div>
                    <div class="card-subtitle">{{ menu.description}}</div>
                    <hr class="card-divider">
                    <div class="card-footer">
                        <div class="card-price"><span>$</span> {{ menu.price }}</div>
                    </div>
                </div>
                
            </figure>
        </article> 
    </div>
</section>
