/* WELCOME */
.welcome {
    display: flex;

    background-color: rgb(155, 151, 146);
    width: 100%;
    height: 20rem;

}

.text {
    display: flex;
    width: 70%;
    margin: 2rem;

    align-items: center;
}

.networks {
    display: flex;
    width: 30%;
    margin: 2rem;

    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.networks-text:hover {
    color: black;
    transition: color .35s ease-in-out;
}

.networks-text {
    color: var(--secondary--color);
}

.content
{
    top: 30%;
    left: 20%;
    position: absolute;
}
.content h1 
{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
  
}
.content a 
{
    text-decoration: none;
    background-color: #fff;
    color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 5px;
}

.content a:hover 
{
    background-color: var(--primary-color);
    color: #fff;
}

/* UBICATION */
.ubication {
    display: flex;
}

.schedules {
    width: 40%;
    margin: 2rem;
    text-align: center;
    
}

.map {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.day {
    font-weight: 455;
    font-size: 1.1rem;
    margin-left: 1rem;
    line-height: 1.7;
    text-align: start;
}


/* REVIEWS */
.stepBox 
{
    background-color: #000;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
}
.stepBox h1 
{
    font-size: 50px;
    font-weight: bold;
    color:var(--primary-color);
}
.stepBox p 
{
    font-size: 20px;
    font-style: italic;
    color: #fff;
}
.highlight
{
    color: var(--primary-color);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
/* PEDIDOSYA */
.cont-img {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--primary-color);
    width: 100%;
    height: 11rem;
}

.image {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  
.img {
    background-image: url(src/assets/img/pedidos-ya-250x57.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 16rem;
    height: 4rem;
}
/* FOODBOX */
.text-center {
    margin-bottom: 4rem;
}

.row {
    width: 100%;
    margin-bottom: 5rem;
    justify-content: center;
}

#coso{
    display: block;
}

table {
    justify-content: center; 
    display: flex;
    padding-left: 4rem;
}
article{
    width: 10%;
}
.foodbox 
{
    padding: 10px 15px;
    margin: 0;
}

 .foodbox img
{
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 5px;
}
.foodbox h1 
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.card {
    width: 230px;
    height: 300px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
  }
  
  .card:last-child {
    justify-content: flex-end;
  }
  
  .card-img .img {
   /* delete */
    transform: scale(1);
    position: relative;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-top-left-radius: 80px 50px;
    border-top-right-radius: 80px 50px;
    border: 2px solid black;
    background-color: #228b22;
    background-image: linear-gradient(to top,transparent 10px,rgba(0,0,0,0.3) 10px,rgba(0,0,0,0.3) 13px,transparent 13px);
  }
  
  .card-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--font-color);
  }
  
  .card-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color-sub);
  }
  
  .card-divider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
  }
  
  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
  }
  
  .card-price {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
  }
  
  .card-price span {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-sub);
  }
  
  .card-btn {
    height: 35px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s;
  }
  
  .card-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
    transition: all 0.3s;
  }
  
  .card-img:hover {
    transform: translateY(-3px);
  }
  
.linkToMenu {
    color: var(--primary-color);
}
.viewmorebtn
{
    text-decoration: none;
    background-color:var(--primary-color);
    color: #ffffff;
    padding: 10px 10px;
    margin-left: 3rem;
    border-radius: 5px;
    font-size: 18px;
    
}

@media (max-width: 768px) {
    .text-cont {
        font-size: 1.5rem;
    }

    /* FOODBOX */
    .row {
        margin-bottom: 0;
        justify-content: none;
    }

    article {
        width: 100%;
        justify-content: center;
        display: flex;
    }

    table {
        justify-content: center; 
        display: grid;
        padding-left: 1.7rem;
    }

    .foodbox {
        margin-bottom: 3rem;
    }

    .networks-text {
        font-size: 1rem;
    }

    .schedules {
        width: 100%;
        margin-left: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .days {
        display: flex;
    }

    .day {
        font-size: 1rem;
        font-weight: 100;
    }

    .map {
        /* background-color: blue; */
        width: 100%;
        margin-left: 0;
    }

    .ubication {
        display: block;
    }

    @media (max-width: 501px) {
        .days {
            display: grid;
        }
        /* FOODBOX */
        .row {
            width: 100%;
        }
        table {
            justify-content: center;
            /* width: 100%; */
            /* padding-left: 1.5rem; */
            display: grid;
        }

        
        
    }
}